body{
  font-family:sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;
}

header{
  display: block;
}

#nb {
  background-color: white;
  flex:1;
  overflow-y: auto;
  overflow-x: hidden;
  padding:1em;
}

#output{
  flex:1;
  overflow:auto;
  padding:1em;
}

#result{
  margin:0; padding:0
}

#nb .cell{
  background-color: #f5f5f5;
  margin: 0.2em 0;
  padding: 0.5em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
}

#nb .cell_header{
  background-color: none;
}

#nb textarea{
  font-family: monospace;
  flex: 1;
  resize: none;
  height: inherit;
  min-height: 8em;
  max-height: 16em;
  overflow-y: auto;
}

#nb button{
  margin: 0.2em;
}

#nb select{
  margin-left:1em;
}

#nb button.close{
  float:right;
}

#nb hr{
  color:#fff
}